<div class="container">
  <div class="flow-root">
    <ul role="list" class="list-container">
      <li>
        <div class="list-content">
          <!-- *** Index -->
          <div class="index-container-header">
            <p>#</p>
          </div>

          <!-- *** Text -->
          <div class="text-container-header">
            <p>Todo</p>
          </div>

          <!-- *** Update Time -->
          <div class="time-container-header">
            <p>Date</p>
          </div>

          <!-- *** Check -->
          <div class="checkbox-container-header">
            <p>Complete</p>
          </div>

          <!-- *** Remove Button -->
          <div class="btn-container-header"></div>
        </div>
      </li>
      <ng-container
        *ngIf="(($todoList | async)?.todo_list)!.length > 0; else emptyTodo"
      >
        <li *ngFor="let todo of ($todoList | async)?.todo_list; let i = index">
          <div class="list-content">
            <!-- *** Index -->
            <div class="index-container">
              <p>{{ i + 1 }}</p>
            </div>

            <!-- *** Text -->
            <div class="text-container">
              <p>{{ todo.text }}</p>
            </div>

            <!-- *** Update Time -->
            <div class="time-container">
              <p>{{ todo.created_at | date }}</p>
            </div>

            <!-- *** Check -->
            <div
              class="checkbox-container"
              (click)="onChangeChecked(i, todo.is_checked)"
            >
              <label>
                <input type="checkbox" [checked]="todo.is_checked" />
              </label>
            </div>

            <!-- *** Remove Button -->
            <div class="btn-container">
              <i class="fa-solid fa-square-xmark" (click)="onRemoveTodo(i)"></i>
            </div>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>
</div>

<ng-template #emptyTodo>
  <li>
    <div class="list-content">
      <!-- *** Text -->
      <div class="text-empty-container">
        <p>No Todo</p>
      </div>
    </div>
  </li>
</ng-template>
