.container {
  @apply px-4 py-2 w-full max-h-[603px] overflow-auto 
  overflow-x-hidden bg-white rounded-lg border shadow-md 
  sm:px-8 sm:py-4 dark:bg-gray-800 dark:border-gray-700;
}

.list-container {
  @apply divide-y divide-gray-200 dark:divide-gray-700;

  & > li:first-child {
    @apply w-full py-3  sm:py-4;
  }

  & > li {
    @apply w-full py-3 sm:py-4;
  }
}

.index-container,
.text-container,
.time-container,
.checkbox-container,
.btn-container {
  @apply flex items-center;
}

.index-container-header,
.text-container-header,
.time-container-header,
.checkbox-container-header,
.btn-container-header {
  @apply text-base font-semibold hidden sm:block;
}

.list-content {
  @apply grid grid-cols-12 grid-rows-2 sm:grid-rows-none w-full;
}

//? Index Container
.index-container,
.index-container-header {
  @apply min-w-0 col-span-1 row-span-2 sm:col-span-1;
}

.index-container {
  & > p {
    @apply text-sm font-medium text-gray-900 truncate dark:text-white;
  }
}

//? Text Container
.text-container,
.text-container-header {
  @apply min-w-0 col-span-11 sm:col-span-4;
}

.text-container {
  & > p {
    @apply text-sm font-medium text-gray-900 truncate dark:text-white;
  }
}

//? Time Container
.time-container,
.time-container-header {
  @apply col-span-11 sm:col-span-3;
}

.time-container {
  @apply text-base font-semibold text-center text-gray-900 dark:text-white;

  & > p {
    @apply text-sm font-medium text-slate-500 truncate dark:text-white;
  }
}

//? Checkbox Container
.checkbox-container,
.checkbox-container-header {
  @apply col-span-12 sm:col-span-2 justify-end;
}

.checkbox-container {
  @apply flex justify-end sm:justify-center;

  & > label {
    @apply w-fit h-fit m-0 p-0 flex items-center cursor-pointer;
  }

  & input {
    @apply form-checkbox h-5 w-5 rounded-md text-green-600 cursor-pointer;
  }
}

//? Remove Button Container
.btn-container,
.btn-container-header {
  @apply col-span-12 sm:col-span-2 justify-end;
}

.btn-container {
  @apply flex justify-end items-center;

  & > i {
    @apply text-red-500 font-bold text-2xl  cursor-pointer;
  }
}

//? Text Empty Container
.text-empty-container {
  @apply col-span-12 text-center font-bold text-2xl;
}
