<div class="screen-container">
  <div class="content-container">
    <!-- *** Header -->
    <div class="header-container">
      <span>Todo List <i class="fa-solid fa-clipboard-list"></i></span>
    </div>

    <!-- *** Add Todo -->
    <div class="todo-input-container">
      <card-todo-input></card-todo-input>
    </div>

    <!-- *** Todo List -->
    <div class="todo-list-container">
      <card-todo></card-todo>
      <button (click)="onClearTodo()">
        Clear All <i class="fa-solid fa-trash"></i>
      </button>
    </div>
  </div>
</div>
