.screen-container {
  @apply w-screen h-screen flex justify-center items-center
  overflow-auto bg-slate-900 p-2 md:p-10 lg:p-20;
}

.content-container {
  @apply w-full h-5/6 sm:w-[40rem];
}

.header-container,
.todo-input-container,
.todo-list-container {
  @apply w-full;
}

.header-container {
  @apply text-center text-4xl font-extrabold tracking-widest uppercase text-[#e0dfdc] mb-10;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a,
    0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222,
    0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a,
    0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212,
    0 22px 30px rgba(0, 0, 0, 0.9);
}

.todo-input-container {
  @apply mb-10 h-auto;
}

.todo-list-container {
  @apply flex flex-col;

  & button {
    @apply self-end px-3 py-2 rounded-md mt-2 text-white font-normal bg-red-700 hover:bg-red-600;

    & i {
      @apply ml-2;
    }
  }
}
