<div class="container">
  <form [formGroup]="todoForm" class="flow-root">
    <div
      class="input-container"
      [ngClass]="{ invalid: todoForm.touched && todoForm.invalid }"
    >
      <input type="text" placeholder="Enter todo..." formControlName="text" />
      <button type="submit" (click)="onAddTodo()">
        <span>Add</span>&nbsp;<i class="fa-solid fa-plus"></i>
      </button>
    </div>
  </form>
</div>
