.container {
  @apply w-full max-h-[603px] overflow-auto 
  overflow-x-hidden bg-transparent rounded-lg border shadow-md 
  dark:bg-gray-800 dark:border-gray-700 p-0 m-0;

  & .input-container {
    @apply flex;

    & input {
      @apply w-[80%] rounded-l-lg p-4 border-t mr-0 border-b border-l text-gray-800 border-gray-200 bg-white;

      &:focus {
        box-shadow: none;
      }
    }

    & button {
      @apply sm:p-4 sm:px-8 w-[20%] rounded-r-lg bg-yellow-400 text-gray-800 font-bold uppercase 
      transition-all duration-200 ease-in-out
      border-yellow-500 border-t border-b border-r hover:bg-yellow-500 hover:text-white;

      & i {
        @apply hidden sm:inline;
      }
    }
  }
}

.invalid {
  @apply transition-all duration-100 ease-in-out;
  border: 2px solid red !important;
}
